<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SysHR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/gestion-retard">Gestion des Retards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/gestion-autorisation">Gestion des Autorisations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/gestion-conge">Gestion des Congés</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/gestion-evaluation">Gestion des Evaluations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/gestion-absence">Gestion des Absences</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-primary bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SysHR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/pointage">Pointage</a>
                </li>
            </ul>
        </div>
    </div>
</nav>