<!-- Show navbar only when authenticated -->
<div *ngIf="isAuthenticated">
    <nav class="navbar navbar-expand-lg" [ngClass]="isAdmin ? 'navbar-dark bg-dark' : 'navbar-primary bg-primary'">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">SysHR</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <ng-container *ngIf="isAdmin">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gestion-retard">Gestion des Retards</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gestion-autorisation">Gestion des Autorisations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gestion-conge">Gestion des Congés</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gestion-evaluation">Gestion des Evaluations</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/gestion-absence">Gestion des Absences</a>
                        </li>
                    </ng-container>
                    <ng-container *ngIf="!isAdmin">
                        <li class="nav-item">
                            <a class="nav-link" routerLink="/pointage">Pointage</a>
                        </li>
                    </ng-container>
                    <li class="nav-item">
                        <a class="nav-link" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>